# the basics, ready for nested modules in intellij

# System Files
**/.DS_Store
**/__MACOSX/
Thumbs.db

# IDE - Intellij
**/.idea/
*.iml
*.ipr
*.iws
**/target/
**/out/
**/dist/
**/out-tsc/

# IDE - VSCode
**/.vscode/
**/.vscode-test/
*.code-workspace

# npm, node
**/node_modules/
package-lock.json
npm-debug.log*
yarn-error.log*
**/.npm/

# CSS
**/.sass-cache/

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.tgz
*.rar

### Maven ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
# maven cache
**/.mvn/

# MS-office files
~$*.*