form {
    width: 50vw;
    margin-left : 25vw;
}

input.text, select {
    width: 80%;
    margin: 10px;
}

label {
    color: blue;
}

.left {
    margin-top: 10px;
    color: blue;
}

.submit {
    background-color: blueviolet;
    color: powderblue;
    margin-top: 30px;
    width: 20%;
}